.common-btn {
  background-color: #a020f0;
  border-color: #a020f0;
  transition: transform 0.15s ease-in-out;
}

.common-btn:hover, .common-btn:focus {
  background-color: #8f0f8d;
  border-color: #8f0f8d;
  transform: scale(1.025);
}

.common-btn:hover, .common-btn:focus {
  background-color: #8f0f8d;
  border-color: #8f0f8d;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New'
}


.card {
  background-color: #333;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  color: #fff;
}

.card-header {
  color: #fff;
  background: linear-gradient(145deg, #6a3093, darkslateblue);
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.input-field {
  background-color: #3e3a5e;
  color: #fff;
  border: 1px solid #57516e;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.form-control, .form-control:hover, .form-control:focus, .form-control::placeholder {
  background-color: #3e3a5e;
  color: #fff;
}
